/* vh and vw (viewport height and width) size units used to adapt site to what the user can see on screen, these sound useful*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  background-color: peru;
  width: 100vw;
  z-index: 10;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  justify-content: space-evenly;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section {
  height: 100vh;
}
.section-head {
  padding-top: 20vh;
}
.top-button {
  background-color: black;
  color: white;
}
.section-p {
  font-size: 1.5rem;
}

.home {
  background-color: #d60270;
}
.species {
  background-color: #9b4f96;
}
.conservation {
  background-color: #0038a8;
}
.legal {
  background-color: white;
}

.species-bar {
  display: flex;
  justify-content: space-between;
}
